// =============================================================================
// Typography
// =============================================================================

// Generate font weight
@mixin font__weight ($weight) {
	&--#{$weight} {
		font-weight: $weight; // TODO figure out interpolation
	}
}

// Create label
@mixin label () {
	text-transform: uppercase;
	letter-spacing: .15em;
}

// CSS image replacement
@mixin text-hide() {
	font: "0/0" a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

// Text truncate
// Requires inline-block or block for proper styling

@mixin text-truncate() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// Align text
@mixin align-text ($breakpoints: $grid__breakpoints) {
	@each $breakpoint in map-keys($breakpoints) {
		@include media-breakpoint-up($breakpoint) {
			.align__#{$breakpoint}--left   { text-align: left !important; }
			.align__#{$breakpoint}--right  { text-align: right !important; }
			.align__#{$breakpoint}--center { text-align: center !important; }
		}
	}
}


