// =============================================================================
// Card component
// =============================================================================

.card {
	overflow: hidden;
	background-color: white;
	border-radius: $border__radius--large;
	.style--shadows & {
		@include box-shadow();
	}
	.style--borders & {
		@include border();
	}
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-direction: column;
	&__body {
		flex: 1;
	}
	&__header {
		&--divider {
			position: relative;
			margin-bottom: $rhythm--y;
			&:after {
				content: "";
				@include border("bottom");
				@include absolute-stretch;
			}
		}
	}
	&__content {
		&--divider {
			position: relative;
			margin-bottom: $rhythm--y;
			padding-bottom: $rhythm--y;
			&:after {
				content: "";
				@include border("bottom");
				@include absolute-stretch;
			}
		}
	}
	&__footer {
		&--divider {
			position: relative;
			margin-top: $rhythm--y;
			padding-top: $rhythm--y;
			&:before {
				content: "";
				@include border("top");
				@include absolute-stretch;
			}
		}
	}
	&--padded {
		padding: $rhythm--y/2 $rhythm--x/2;
	}
	&--jumping {
		transition: $transition--primary-short;
		&:hover {
			.style--shadows & {
				@include box-shadow(0,0,$box-shadow__blur*1.25);
			}
			.style--borders & {
				@include border();
			}
			transform: translateY(-.125rem);
		}
	}
}


