// =============================================================================
// Hero element
// =============================================================================

.hero {
	position: relative;
	overflow: hidden;
	text-align: center;
	background-color: $color__brand--primary;
	@include inverse-colors;
	// &__image {
	// 	background-position: center;
	// 	background-repeat: no-repeat;
	// 	background-size: cover;
	// 	transition: $transition--secondary-long;
	// 	@include stretch;
	// 	animation: fade 2s ease-in;
	// }
	// &:hover &__image {
	// 	@include transform(scale(1.1));
	// }
}