// =============================================================================
// Hover elements
// =============================================================================

.hover--reverse {
    & > * {
        transition: $transition--secondary-short;
    }
    &:hover > * {
        opacity: .25;
    }
    &:hover > *:hover {
        opacity: 1;
    }
}