// =============================================================================
// Image elements & containers
// =============================================================================

img {
	&[src=''], &:not([src]) {
		opacity:0; // Remove border on images with no src attribute set
	}
}

.image {
	position: relative;
	display: block;
	transition: $transition--primary-short;
	background-size: cover;
	
	// Image ratios

	&.image--1to1 {
		padding-bottom: 100%;
	}
	&.image--2to1 {
		padding-bottom: 200%;
	}
	&.image--1to2 {
		padding-bottom: 50%;
	}
	&.image--1to4 {
		padding-bottom: 25%;
	}

	// Various sources

	&__src {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		&--contain {
			object-fit: contain;
		}
	}

	// Image modifiers

	&--avatar {
		display: inline;
		width: 2rem;
		height: 2rem;
		margin-right: .5rem; // Todo make sure it doesn't break stuff
		&-rounded {
			border-radius: 50%;
		}
	}
	&--expanded {
		@include media-breakpoint-up(lg) {
			transform: scale(1.5);
			cursor: zoom-out !important; // TODO find a better way
		}
	}
	&--darkened:after {
		content: "";
		background-color: transparentize($color__gray--dark, .5);
		@include absolute-stretch;
	}
	&--grayscale {
		filter: grayscale(1);
		@include absolute-stretch;
	}
	&--overlay {
		mix-blend-mode: hard-light;
		opacity: .1;
	}
	&--tinted:after {
		content: "";
		background-color: transparentize($color__brand--primary, .5);
		@include absolute-stretch;
	}
	&--background {
		pointer-events: none;
		background-size: cover;
		background-position: center;
		@include absolute-stretch;
		& ~ * {
			color: white;
		}
	}
}


