// =============================================================================
// Links styling
// =============================================================================

.link {
	color: $color__link;
	position: relative;
	transition: $transition--primary-short;
	@include border ("bottom", "true");
	&:hover, &:focus, &:active {
		text-decoration: none;
		color: $color__link--hover;
		@include border ("bottom", "true", $borderColor: $color__link--hover);
	}
	&:visited {
		color: $color__link--visited;
	}
	.highlight & {
	}
	&:after {
		display: inline-block;
		font-family: $font__family--monospace;
		margin-left: .25rem;
	}
	&[href*="//"]:after { // External link
		content: "\21F2";
		transform: rotate(-90deg);
	}
	&[target=_blank]:after { // Link opening in a new window
		content: "\274F";
	}
	&[href^="mailto"]:after { // Link to an email
		content: "\2709";
	}
	&[href^="tel"]:after { // Link to a phone number
		content: "\002706";
	}
	&[href$="pdf"]:after, &[href$="ai"]:after, &[href$="psd"]:after { // Link to a file
		content: "file"; // TODO find an ascii icon
	}
}