// =============================================================================
// Nav
// =============================================================================

.nav {
	&__link {
		cursor: pointer;
		display: flex;
		align-items: center;
		font-size: .5rem;
		white-space: nowrap;
		font-weight: $font__weight--bold;
		color: $navbar__color;
		transition: $transition--primary-short;
		@include hover-focus {
			color: $navbar__color--hover;
		}
		&--uppercase {
			text-transform: uppercase;
			letter-spacing: .15em;
		}
		&--large {
			font-size: .75rem;
			font-weight: $font__weight--regular;
		}
		&--padded {
			padding: $rhythm--y/2 0;
		}
		&--underline {
			position: relative;
			&:after {
				@include absolute-stretch;
				content: "";
				border-bottom: 2px solid transparent;
				pointer-events: none;
				transition: $transition--primary-short;     
			}
			&.is--active:after {
				border-bottom: 1px solid lighten($color__brand--primary, 5%); // TODO
			}
			&:hover:after {
				border-bottom: 2px solid lighten($color__brand--primary, 5%);
			}
		}
		&--slide {
			@include hover-focus-active() {
				transform: translateX($rhythm--x/4);
			}
		}
		.navbar__right > & + &, .tabs__control > & + & {
			margin-left: $rhythm--x;
		}
	}
}


