// =============================================================================
// Navbar
// =============================================================================

.navbar {
	transition: $transition--primary-short;
	&--fixed {
		position: fixed;
		right: 0;
		left: 0;
		z-index: $zindex__navbar-fixed;
		&-top {
			top: 0;
		}
		&-bottom {
			bottom: 0;
		}
	}
	&--light {
		background-color: $navbar__bg;
		.style--shadows & {
			@include box-shadow();
		}
		.style--borders & {
			@include border("bottom", "true");
		}
	}
	&--dark {

	}
	& .container, & .container--full {
		display:flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&.is--hidden {
		@include transform(translateY(-100%));
	}
}

// =============================================================================
// Mobile menu
// =============================================================================

.navbar {
	&__toggle {
		@include media-breakpoint-up(lg) {
			display: none !important;
		}
	}
	&__left {
		display: flex;
	}
	&__right {
		display: none;
		@include media-breakpoint-up(lg) {
			display: flex;
		}
		.is--open & {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-around;
			background: $color__brand--primary;
			opacity: 0.95;
			@include fixed-stretch();
			& .nav__link, .button--navbar {
				font-size: $font__size--md;
				color: white;
			}
		}
	}
}

// =============================================================================
// Navbar dropdown
// =============================================================================

.navbar__dropdown {
	& .nav__link {
		padding: $rhythm--core/2;
		opacity: 0.75;
	}
	@include media-breakpoint-up(lg) {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		background-color: $navbar__bg;
		padding: 0 $rhythm--x;
		.nav__link:hover &, .nav__link:focus &, .nav__link:active & {
			display: block;
		}
		.style--shadows & {
			@include box-shadow();
		}
		.style--borders & {
			@include border("bottom", "true");
		}
	}
}


