// =============================================================================
// Reveal slider element
// =============================================================================

.reveal {
	&__title {
		transform: translateY(100%);
		transition: $transition--primary-short;
	}
	&__content {
		opacity: 0;
		transform: translateY(100%);
		transition: $transition--primary-short;
	}
	&:hover {
		.reveal__title {
			transform: translateY(0);
		}
		.reveal__content {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

// TODO remove below

// .reveal { // Fix mobile folding
// 	position: relative;
// 	overflow: hidden;
// }

// .reveal__before--slide {
// 	@include stretch ();
// 	@include transform(translateY(-100%));
// 	@include media-breakpoint-up(lg) {
// 		@include transform(translateY(0%));
// 		@include transition($transition--primary-short);
// 	}
// }

// .reveal__after--slide {
// 	background-color: transparentize(#000, .5);
// 	@include stretch ();
// 	@include media-breakpoint-up(lg) {
// 		@include transform(translateY(100%));
// 		@include transition($transition--primary-short);
// 		& h1, h2, h3, h4, h5, h6, p { // Todo figure out better way
// 			padding-left:1rem;
// 			padding-right:1rem;
// 		}
// 	}
// }

// .reveal:hover .reveal__after--slide {
// 	@include transform(translateY(0%));
// }

// .reveal:hover .reveal__before--slide {
// 	@include transform(translateY(-100%));
// }

// .reveal .venter--full {
// 	padding: $rhythm--x;
// }

// // =============================================================================
// // Reveal fader element
// // =============================================================================

// .reveal__before--fade {
// 	position: absolute;
// 	width: 100%;
// 	top: auto;
// 	bottom: 0px;
// 	padding: 0 $rhythm--x;
// 	@include media-breakpoint-up(lg) {
// 		@include transform(translateY(4rem));
// 		@include transition($transition--primary-short);
// 	}
// }

// .reveal__darkener {
// 	@include stretch();
// 	@include transition($transition--primary-short);
// 	background-color: transparentize($color__brand--primary, .5);
// }

// .reveal:hover .reveal__before--fade > p {
// 	opacity: 1;
// }

// @include media-breakpoint-up(lg) {
// 	.reveal__before--fade > p {
// 		opacity: 0;
// 		@include transition($transition--primary-short);
// 	}
// 	.reveal__darkener {
// 		background-color: transparent;
// 	}
// 	.reveal:hover .reveal__darkener {
// 		background-color: transparentize($color__brand--primary, .5);
// 	}
// 	.reveal:hover .reveal__before--fade {
// 		@include transform(translateY(0rem));
// 	}
// }