// =============================================================================
// Scroll element
// =============================================================================

.scroll {
	bottom: $rhythm--y;
	position: absolute;
	transform: translateX(-50%);
	&__mouse {
		border-radius: 9999px;
		border: 3px solid #FFF;
		display: block;
		height: 50px;
		margin: 0 auto;
		pointer-events:none;
		position: relative;
		width: 30px;
		&--movement {
			position: absolute;
			width: 8px;
			height: 8px;
			margin: 8px -4px;
			background: #FFF;
			border-radius: 50%;
			animation: scroll-ani 3s linear infinite;
		}
	}
	&__message {
		color: transparent;
		animation: scroll-ani 3s linear infinite;
		pointer-events: none;
	}
	@include media-breakpoint-down(lg) {
		display: none;
	}
	@include hover-focus-active() {
		.scroll__message {
			color: white;
		}
	}
}


