// =============================================================================
// Tabs
// =============================================================================

.tabs {
	&__control {
		display: flex;
		@include border("bottom");
	}
	&__item {
		display:none;
		&.is--active {
			display: block;
		}
	}
}