// =============================================================================
// Utility classes
// =============================================================================

//
// Floats
//

.clearfix {
	@include clearfix();
}

@each $breakpoint in map-keys($grid__breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		.pull-#{$breakpoint}-left {
			@include pull-left();
		}
		.pull-#{$breakpoint}-right {
			@include pull-right();
		}
		.pull-#{$breakpoint}-none {
			float: none !important;
		}
	}
}


//
// Screenreaders
//

.sr-only {
	@include sr-only();
}

.sr-only-focusable {
	@include sr-only-focusable();
}

.invisible {
	visibility: hidden !important;
}

.text-hide {
	@include text-hide();
}


//
// Text
//

// Alignment

.text--justify        { text-align: justify !important; }
.text--nowrap         { white-space: nowrap !important; }
.text--truncate       { @include text-truncate; }

// Responsive alignment

@each $breakpoint in map-keys($grid__breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		.align__#{$breakpoint}--left   { text-align: left !important; }
		.align__#{$breakpoint}--right  { text-align: right !important; }
		.align__#{$breakpoint}--center { text-align: center !important; }
	}
}

// Transformation

.text--lowercase      { text-transform: lowercase !important; }
.text--uppercase      { text-transform: uppercase !important; }
.text--capitalize     { text-transform: capitalize !important; }

// Weight and italics

.font__weight--normal  { font-weight: normal; }
.font__weight--bold    { font-weight: bold; }
.font--italic          { font-style: italic; }

//
// Rhythm
//

.rhythm {
	margin-bottom: $rhythm--y;
	&--children > * {
		margin-bottom: $rhythm--y; // Force calculated rhythm on element and all children
	}
	&--half {
		margin-bottom: $rhythm--y/2;
	}
	&--both {
		margin-top: $rhythm--y/2;
		margin-bottom: $rhythm--y/2;
	}
	&--double {
		margin-bottom: $rhythm--y*2;
	}
}

//
// Inverse colours
//

.inverse {
	@include inverse-colors; // Force inverted color on text
}

// Overflow fading text // Todo move to components?

.overflow__wrapper {
	position: relative;
}

.overflow__scroller {
	max-height: 8rem; // Adjust to your preference
	overflow-y: hidden;
	overflow-x: hidden;
	margin-bottom: 0;
	&:hover {
		overflow-y: auto;
	}
	&::after {
		background: linear-gradient(transparent 0%, white 75%);
		bottom:0;
		content: "";
		height: 1rem;
		left:0;
		pointer-events: none; 
		position: absolute;
		width: 100%;
	}
}

//
// Hidden components
//

@each $breakpoint in map-keys($grid__breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      .#{$breakpoint}--hidden-up { display: none; }
    }
}

@each $breakpoint in map-keys($grid__breakpoints) {
    @include media-breakpoint-down($breakpoint) {
      .#{$breakpoint}--hidden-down { display: none; }
    }
}

//
// Dividers
//

.divider { // TODO finish
	&--top {
		&:before {
			content: "";
			display: block;
			margin-bottom: $rhythm--y/2;
			position: relative;
			@include border("top");
			.layout__sidebar--padded & {
				margin-left: -1rem;
				margin-right: -1rem;
			}
		}
	}
}