// =============================================================================
// Variables
// =============================================================================

// TODO fix tabs and alignment

// Table of Contents
//
// Color base
// Options
// Rhythm
// Typography
// Grid
// Transitions
// Box Shadows and Radii

// General variable structure
//
// Variable format should follow the `$block__element--modifier-state-property` order.

// =============================================================================
// Color base
// =============================================================================

$color__brand--primary:				#ea2e42		!default;
$color__brand--secondary:			#fafafa		!default;

$color__gray:						#55595c		!default;
$color__gray--light:				#818a91		!default;
$color__gray--lighter:				#eceeef		!default;
$color__gray--lightest:				#f7f7f9		!default;
$color__gray--dark:					#373a3c		!default;

$color__brand--success:				#5cb85c		!default;
$color__brand--info:				#5bc0de		!default;
$color__brand--warning:				#f0ad4e		!default;
$color__brand--danger:				#d9534f		!default;

$color__background:					#fafafa		!default;
$color__background--inverse:		$color__brand--primary		!default;
$color__text--inverse:				rgba(255,255,255,.85) 		!default;

$color__link:						$color__brand--primary !default;
$color__link--hover:				darken($color__link, 10%);
$color__link--visited:				darken($color__link, 25%);

// =============================================================================
// Options
// =============================================================================

// TODO cross-check if all are relevant
$enable--flex:                     true			!default;
$enable--rounded:                  true			!default;
$enable--shadows:                  false		!default;
$enable--gradients:                false		!default;
$enable--transitions:              false		!default;
$enable--hover-media-query:        false		!default;
$enable--grid-classes:             true			!default;

// =============================================================================
// Rhythm
// =============================================================================

$rhythm--core:						1rem			!default;
$rhythm--x:							$rhythm--core	!default;
$rhythm--y:							$rhythm--core	!default;
$border__width:						1px				!default;

// =============================================================================
// Typography
// =============================================================================

$font__family--headings: "DINPro"; // Update with a font of your choice
$font__family--headings-weights: "300" "700"; // Update with weights of your choice
$font__family--body: "DINPro"; // Update with a font of your choice
$font__family--blog: "PT Serif"; // Update with a font of your choice
$font__family--monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font__fallback: Helvetica Neue, Helvetica, Arial, sans-serif;

@include font-face($font__family--headings, "/fonts/#{$font__family--headings}", $font__family--headings-weights);
// @include font-face($font__family--body, "../fonts/#{$font__family--body}"); // TODO enable in the end
// @include font-face($font__family--blog, "../fonts/#{$font__family--blog}"); // TODO enable in the end


$font__size--root:                 125%        !default;
// $font__size--root:                 calc(125% + .25vw)   !default; // TODO enable in the end

$font__size--base:                  .85rem     !default;
$font__size--lg:                   1.25rem     !default;
$font__size--sm:                    .75rem     !default;
$font__size--xs:                    .5rem      !default;

$font__size--boom:			       8rem        !default;
$font__size--h1:                   3rem        !default;
$font__size--h2:                   2.5rem      !default;
$font__size--h3:                   2rem        !default;
$font__size--h4:                   1.25rem     !default;
$font__size--h5:                   1rem        !default;
$font__size--h6:                    .75rem     !default;

$font__line-height: 		       1rem        !default;

$font__weight--light: 		       300         !default;
$font__weight--regular: 	       400         !default;
$font__weight--bold: 		       700         !default;
$font__weight--black: 		       900         !default;

$font__color--body: 		       $color__gray--dark !default;

$link__color:				       $color__brand--primary !default;
$link__color--hover:		       darken($link__color, .15) !default;
$link__hover--decoration:	       none        !default;

$abbr__border--color:		       $color__gray--light !default;

// =============================================================================
// Buttons
// =============================================================================

$button__padding--x:              2rem         !default;
$button__padding--y:               .5rem       !default;

// =============================================================================
// Grid
// =============================================================================

$grid__breakpoints: (
	// Extra small screen / phone
	xs:                              0,
	// Small screen / phone
	sm:                              544px,
	// Medium screen / tablet
	md:                              768px,
	// Large screen / desktop
	lg:                              992px,
	// Extra large screen / wide desktop
	xl:                              1200px
	)                                          !default;

$grid__container-widths: (
	xs:                              100%,
	sm:                              576px,
	md:                              720px,
	lg:                              940px,
	xl:                              1140px
	)                                          !default;

$grid__columns:                    12          !default;
$grid__gutter--width:              1rem        !default;


// =============================================================================
// Navbar
// =============================================================================

$navbar__padding--y:				$rhythm--y/2 !default;
$navbar__padding--x:				$rhythm--x/2 !default;

$navbar--dark-bg:					rgba(0,0,0,.95) !default;
$navbar--dark-color:				$color__gray--dark !default;
$navbar--dark-hover-color:			$color__gray--light !default;

$navbar__bg:						rgba(255,255,255,.95) !default;
$navbar__color:						$color__gray--light !default;
$navbar__color--hover:				$color__gray--dark !default;

// =============================================================================
// Sidebar
// =============================================================================
$sidebar__width:                   250px        !default;

// =============================================================================
// Z-index
// =============================================================================

// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex--navbar:					1000         !default;
$zindex--dropdown:					1000         !default;
$zindex--sidebar-fixed:				1020         !default;
$zindex--navbar-sticky:				1020         !default;
$zindex--navbar-fixed:				1030         !default;
$zindex--modal-bg:					1040         !default;
$zindex--modal:						1050         !default;
$zindex--popover:					1060         !default;
$zindex--tooltip:					1070         !default;


// =============================================================================
// Transitions and animations
// =============================================================================

$easing--primary:					cubic-bezier(.6, .2, .1, 1)		!default;
$easing--secondary:					cubic-bezier(.25, .1, .25, 1)	!default;

$animation__duration--short:		250ms							!default;
$animation__duration--medium:		1s								!default;
$animation__duration--long:			10s								!default;

$animation__delay--short:			50ms				 			!default;
$animation__delay--medium:			250ms				 			!default;
$animation__delay--long:			500ms				 			!default;

$transition--primary-short:			all $animation__duration--short 	$easing--primary	!default;
$transition--primary-medium:		all $animation__duration--medium	$easing--primary	!default;
$transition--primary-long:			all $animation__duration--long		$easing--primary	!default;
$transition--secondary-short:		all $animation__duration--short		$easing--secondary	!default;
$transition--secondary-medium:		all $animation__duration--medium	$easing--secondary	!default;
$transition--secondary-long:		all $animation__duration--long		$easing--secondary	!default;

// =============================================================================
// Box Shadows and Radii
// =============================================================================

$box-shadow__blur:					2rem; // try out box-shadow: 0 1px 2px rgba(0,0,0,0.07);
$border__radius:					.1rem; // TODO rewrite BEM
$border__radius--large:				.25rem; // TODO rewrite BEM
