// =============================================================================
// Typography
// =============================================================================

@mixin font__weight ($weight) {
	&--#{$weight} {
		font-weight: $weight; // TODO figure out interpolation
	}
}

@mixin label () {
	text-transform: uppercase;
	letter-spacing: .1em;
}