// =============================================================================
// Layout elements
// =============================================================================

//
// Core layout elements
//

// =============================================================================
// Horizontal layout
// =============================================================================

.layout {
	&__wrapper {
		display: flex;
	}
	&__sidebar {
		height: 100vh;
		background-color: white;
		width: $sidebar__width;
		overflow-y: auto; // has to be scroll, not auto
		-webkit-overflow-scrolling: touch;
		overflow-x: hidden;
		@include transition ($transition--primary-short, transform);
		&::-webkit-scrollbar {
			display:none;
		}
		&--fixed {
			position: fixed;
			top: 0;
			left: 0;
			z-index: $zindex--sidebar-fixed;
			& ~ .layout__content {
				margin-left: $sidebar__width;
			}
		}
		.style--shadows & {
			@include box-shadow();
		}
		.style--borders & {
			@include border("right");
		}
		& .nav__link {
			display: block;
			// margin-bottom: .25rem;
		}
		// Collapsed styles
		.is--collapsed & {
			transform: translateX(-97.5%);
			&:hover {
				transform: translateX(-90%);
			}
			& ~ .layout__content {
				margin-left: 0;
			}
		}
		&--padded {
			padding: 2.5rem 1rem 1rem;
		}
	}
	&__content {
		flex: 1;
		@include transition ($transition--primary-short, margin-left);
		&--padded {
			padding: 5rem;
		}
	}
	.navbar--fixed-top ~ &__wrapper > &__content {
		margin-top: 2.5rem; // Adjust for overlaying content when fixed navbar is present
	}

	&__split {
		width: 50vw;
		position: fixed;
		height: 100vh;
		padding: 2rem;
		& + & {
			right: 0;
			overflow-y: scroll; // has to be scroll, not auto
			-webkit-overflow-scrolling: touch;
		}
	}
}

// =============================================================================
// Cardtainer layout
// =============================================================================

.layout--cardtainer {
	.layout__body {
		height: 92.5vh;
		display: flex;
		.layout__navbar {
			background-color: transparent;
			box-shadow: none;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 1rem 1rem 0 1rem;
			width: 12.5vw;
		}
		.layout__cardtainer {
			flex: 1;
			border-radius: 0 0 0 1rem;
			overflow-y: scroll;
			// padding: 1rem;
			&::-webkit-scrollbar {
				display: none;
			}
			@include box-shadow();
		}
	}
	.layout__footer {
		height: 7.5vh;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 1rem;
	}
}

// =============================================================================
// Full-screen layout
// =============================================================================

.fullscreen {
	position: relative;
	min-height: 100vh;
	// overflow: hidden;
	&--half {
	  min-height: 50vh;
	}
}

// =============================================================================
// Rhomboid layout
// =============================================================================

.rhomboid {
	overflow: hidden;
	position: relative;
	clip-path: polygon(0 0, 100vw 0, 100vw 95vh, 0 100vh);
	& + & {
		margin-top: -5vh;
		clip-path: polygon(0 5vh, 100vw 0, 100vw 95vh, 0 100vh);
	}
	&:last-of-type {
		clip-path: polygon(0 5vh, 100vw 0, 100vw 100vh, 0 100vh);
	}
	&__content {
		padding: 5vh 0;
	}
}

// =============================================================================
// Flex
// =============================================================================

.flex {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-direction: column; // TODO is this too opinionated?
	&__content {
		position: relative;
		display: flex;
		padding-top: 5rem;
		padding-bottom: 5rem;
		flex: 1;
		flex-direction: column;
		justify-content: center;
		&--top {
			// margin-top: $rhythm--y
		}
		&--bottom {
			margin-top: auto; // Todo watch out for side effects
		}
	}
	&--row {
		flex-direction: row;
	}
	&--space-between {
		justify-content: space-between;
	}
}

// =============================================================================
// Flex alignment
// =============================================================================

@each $breakpoint in map-keys($grid__breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		// Flex column reordering
		.flex--#{$breakpoint}-first     { order: -1; }
		.flex--#{$breakpoint}-last      { order: 1; }
		.flex--#{$breakpoint}-unordered { order: 0; }

		// Alignment for every item
		.flex__items--#{$breakpoint}-top    { align-items: flex-start; }
		.flex__items--#{$breakpoint}-middle { align-items: center; }
		.flex__items--#{$breakpoint}-bottom { align-items: flex-end; }

		// Alignment per item
		.flex--#{$breakpoint}-top    { align-self: flex-start; }
		.flex--#{$breakpoint}-middle { align-self: center; }
		.flex--#{$breakpoint}-bottom { align-self: flex-end; }

		// Horizontal alignment of item
		.flex__items--#{$breakpoint}-left    { justify-content: flex-start; }
		.flex__items--#{$breakpoint}-center  { justify-content: center; }
		.flex__items--#{$breakpoint}-right   { justify-content: flex-end; }
		.flex__items--#{$breakpoint}-around  { justify-content: space-around; }
		.flex__items--#{$breakpoint}-between { justify-content: space-between; }
	}
}


