// =============================================================================
// Typography
// =============================================================================

// =============================================================================
// Font families
// =============================================================================

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: $font__family--headings, $font__fallback;
	font-weight: $font__weight--regular;
	line-height: 1;
	@include font__weight($font__weight--bold);
	@include font__weight($font__weight--light);
}

// =============================================================================
// General Sizing
// =============================================================================

h1, .h1 {
	font-size: $font__size--h1;
	letter-spacing: -.05em; // Adjust to your font
	line-height: 1;
	@include media-breakpoint-up(sm) {
		font-size: $font__size--h1 + 1rem;
	}
	&--boom {
		font-size: $font__size--h1;
		@include media-breakpoint-up(lg) {
			font-size: $font__size--boom;
			letter-spacing: -.075em; // Adjust to your font
		}
	}
}

h2, .h2 {
	font-size: $font__size--h2;
	letter-spacing: -0.05em; // Adjust to your font
	line-height: 2.5rem;
}

h3, .h3 {
	font-size: $font__size--h3;
	letter-spacing: -0.025em; // Adjust to your font
}

h4, .h4 {
	font-size: $font__size--h4;
	letter-spacing: -0.025em; // Adjust to your font
	line-height: 2rem;
}

h5, .h5 {
	font-size: $font__size--h5;
	line-height: 1rem;
}

h6, .h6 {
	font-size: $font__size--h6;
	line-height: 1rem;
}

p, .p {
	font-weight: $font__weight--regular;
	letter-spacing: 0;
	line-height: 1rem;
	.indent & {
		margin-bottom: 0 !important;
		&:not(:first-of-type) {
			margin-top: 0 !important;
			text-indent: 2em;
		}
	}
}

// // =============================================================================
// // Sizing utilities
// // =============================================================================

.font--small {
	font-size: $font__size--xs;
}

.font--large {
	font-size: $font__size--lg;
}

// =============================================================================
// Extra styling
// =============================================================================

.subtitle {
	opacity: .5;
}

.label {
	text-transform: uppercase;
	opacity: .5;
	letter-spacing: .15em;
}

.typed {
	&:after {
		content: "|";
		animation: 750ms blink step-end infinite;
	}
}

// .quote {
// 	font-weight: $font__weight--light;
// 	font-size: $font__size--h3;
// 	display: block;
// 	text-align: center;
// 	font-style: italic;
// }

// blockquote, .blockquote { //research block quote styling
// 	color: $color__gray--light;
// 	display: block;
// 	font-weight: 300;
// 	font-style: italic;
// 	font-size: 1rem;
// 	line-height: 1rem;
// 	margin: $rhythm--y
// }

// small, .small {
// 	font-size: .5rem;
// 	line-height: .5rem;
// }

// .underline { // Create a short line under an element
// 	&:after {
// 		content: "";
// 		position: relative;
// 		display: block;
// 		border: .05em solid;
// 		width: 25%;
// 		margin: $rhythm--y 0;
// 	}
// 	&--center:after { // Centered line
// 		margin: $rhythm--y auto;
// 	}
// 	&--full:after { // Full line
// 		width: 100%;
// 	}
// }

// .overline { // Create a short line over an element
// 	&:before {
// 		content: "";
// 		position: relative;
// 		display: block;
// 		border: .05em solid;
// 		width: 25%;
// 		margin: $rhythm--y 0;
// 	}
// 	&--center:before { // Centered line
// 		margin: $rhythm--y auto;
// 	}
// 	&--full:before { // Full line
// 		width: 100%;
// 	}
// }
