// =============================================================================
// Hero element
// =============================================================================

.hero {
	position: relative;
	overflow: hidden;
	text-align: center;
	background-color: $color__brand--primary;
	@include inverse-colors;
}