// =============================================================================
// Tag component
// =============================================================================

.tag {
	background-color: $color__gray--lightest;
    border-radius: $border__radius--large;
    padding: 0 .5rem;
    &--primary {
    	background-color: $color__brand--primary;
    	color:white;
    }
    &--success {
    	background-color: $color__brand--success;
    	color:white;
    }
    &--info {
    	background-color: $color__brand--info;
    	color:white;
    }
    &--warning {
    	background-color: $color__brand--warning;
    	color:white;
    }
    &--danger {
    	background-color: $color__brand--danger;
    	color:white;
    }
    &--bordered {
        border: 1px solid $color__gray--lighter;
    }
    & + & {
        margin-left: .1rem;
    }
}