// =============================================================================
// Well... component
// =============================================================================

.well {
    overflow: hidden;
    background-color: rgba(0,0,0,.025); // TODO change to $color__gray--lightest
    border-radius: $border__radius--large;
    @include transition ($transition--primary-short, background-color);
    &--padded {
        padding: $rhythm--y/2 $rhythm--x/2;
    }
    &--highlight {
        background-color: $color__brand--primary;
    }
    &:hover {
        background-color: rgba(0,0,0,.05);
    }
}